boto3==1.9.234
botocore==1.12.234
dj-database-url==0.5.0
Django==2.2.21
django-crispy-forms==1.7.2
django-filebrowser-no-grappelli==3.7.8
django-fluent-contents==2.0.5
django-fluent-utils==2.0.1
django-heroku==0.3.1
django-parler==1.9.2
django-polymorphic==2.0.3
django-storages==1.7.2
django-tag-parser==3.1
django-template-analyzer==1.6.1
django-tinymce4-lite==1.7.5
django-wysiwyg==0.8.0
docutils==0.15.2
filebrowser-safe==0.5.0
future==0.17.1
gunicorn==19.9.0
html5lib==1.0.1
jmespath==0.9.4
jsmin==2.2.2
numpy==1.16.4
pandas==0.24.2
Pillow==6.0.0
psycopg2==2.8.3
python-dateutil==2.8.0
python-http-client==3.2.1
pytz==2019.1
s3transfer==0.2.1
sendgrid==6.1.0
six==1.12.0
sqlparse==0.3.0
transliterate==1.10.2
translitua==1.2.4
urllib3==1.25.5
webencodings==0.5.1
whitenoise==4.1.3
