{% extends 'core/base.html' %}
{% block content %}

	<br>
		{% if object.image %}
			<img src="{{ object.image.url }}" width="100%">
		{% endif %}
		<h2>{{ object.title }}</h1>
		<p><span class="event-all-date">{{ object.date_posted|date:"d F Y  G:i" }}</span></p>
		<p>{{ object.content|safe }}</p>
		{% if object.event_files.all %}
		<hr class="hr-yellow-download" align="left" >
		{% for link in object.event_files.all %}
			<a href="{{ link.file.url }}" class="link-icon link-icon-text">{{ link.name }}</a> <br>
		{% endfor %}
	{% endif %}

{% endblock content %}